{% extends './layout.html' %}
{% block title %}飞猪飞{% endblock %}
{% block content %} 
            <div class="panel panel-default detail-item">
              <div class="panel-heading">
                <h2 class="panel-title">{{ article.title }}</h2>
                <br>
                <p class="sub-title text-muted">
                  <span>{{ article.category.name }} &nbsp;</span>
                  <span>{{ article.createdAt | date('Y年m月d日 H:i:s',-8*60) }}&nbsp;</span>
                  <em>{{article.click}}</em>人已阅读
                </p>

              </div>
              <div class="panel-body">
                <p class="summary well"><span class="summary-text">简介:</span>{{ article.intro }}</p>
                <p class="content">{{ article.content | safe }}</p>  
              </div>
            </div> 
{% endblock %}