<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人博客</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top kz-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{% block title %}{% endblock %}</a>
        </div>
        <div class="collapse navbar-collapse" id="top-nav">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页</a></li>
            {% for category in categories %}
            <li><a href="#">{{ category.name }}</a></li>
            {% endfor %}
            <li><a href="#">学无止境</a></li>
            <li><a href="#">我的足迹</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <div class="container">
        <div class="row">
          <!--主内容左边-->
          <div class="col-md-8">
            <!--轮播图-->
           {% block content %}{% endblock %}
          </div><!--主内容左边-->
          <!--主内容右边-->
          <div class="col-md-4 hidden-xs hidden-sm">
            {% if userInfo._id %}
              <div id="userloged" class="usecom">
                <p>欢迎 <span class="link" style="color:red;font-size: 20px;font-weight: bold">&nbsp&nbsp&nbsp {{userInfo.username}} </span></p>
                {% if userInfo.isAdmin %}
                <p><a href="/admin" class="link admin">点击进入管理中心</a></p>
                {% else %}
                 <p><a href="/users" class="link users">点击进入用户中心</a></p>
                 {% endif %}
                <a href="javascript:;" id="logout">退出</a>
              </div>
            {% else %}
              <div id="login" class="usecom">
                <div class="form-group">
                  <label for="exampleInputEmail1">用户名</label>
                  <input type="email" class="form-control" placeholder="请输入用户名" name="username">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">密码</label>
                  <input type="password" class="form-control" placeholder="请输入密码" name="password">
                </div>
                <a class="btn btn-primary" href="javascript:;" id="sub-login">登录</a>
                <a href="javascript:;" class="link go-register">免费注册</a>
              </div>
              <div id="register" class="usecom">
                <div class="form-group">
                  <label for="exampleInputEmail1">用户名</label>
                  <input type="email" class="form-control" placeholder="请输入用户名" name="rename">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">密码</label>
                  <input type="password" class="form-control" placeholder="请输入密码" name="repassword">
                </div>
                 <div class="form-group">
                  <label for="exampleInputPassword1">再次输入密码</label>
                  <input type="password" class="form-control" placeholder="请再次输入密码" name="renepassword">
                </div>
                <a class="btn btn-primary" href="javascript:;" id="sub-register">注册</a>
                <a href="javascript:;" class="link go-login">已有账号，去登陆</a>
              </div>
              <p class="text-danger"></p>
            {% endif %}
              <!--广告-->
              <div class="ad">
                  <a href="#" class="thumbnail">
                    <img class="img-responsive" src="image/ad/ad2.jpg" alt="...">
                  </a>
              </div>
              <div class="ad">
                  <a href="#" class="thumbnail">
                    <img class="img-responsive" src="image/ad/ad1.jpg" alt="...">
                  </a>                
              </div>
              <div class="panel panel-default about-me">
                <div class="panel-heading">
                  <h3 class="panel-title">博主介绍</h3>
                </div>
                <div class="panel-body">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object me-img" src="image/me.jpg" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Tom</h4>
                      80后草根！07年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default hot-list">
                <div class="panel-heading">
                  <h3 class="panel-title">点击排行</h3>
                </div>
                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <a href="#" class="link text-ellipsis">深入了解 Bootstrap 底层结构的关键部分</a>
                    </li>
                    <li class="list-group-item">
                      <a href="#" class="link text-ellipsis">深入了解 Bootstrap 底层结构的关键部分</a>
                    </li>
                    <li class="list-group-item">
                      <a href="#" class="link text-ellipsis">深入了解 Bootstrap 底层结构的关键部分</a>
                    </li> 
                    <li class="list-group-item">
                      <a href="#" class="link text-ellipsis">深入了解 Bootstrap 底层结构的关键部分</a>
                    </li> 
                    <li class="list-group-item">
                      <a href="#" class="link text-ellipsis">深入了解 Bootstrap 底层结构的关键部分</a>
                    </li> 
                    <li class="list-group-item">
                      <a href="#" class="link text-ellipsis">深入了解 Bootstrap 底层结构的关键部分</a>
                    </li>                                                                    
                  </ul>
                </div>
              </div>
              <div class="panel panel-default subscribe-me">
                <div class="panel-heading">
                  <h3 class="panel-title">关注我</h3>
                </div>
                <div class="panel-body">
                  <img src="image/Wechat.jpeg" class="wechat-img" alt="">
                </div>
              </div> 
          </div><!--主内容右边-->
        </div><!--row-->
      </div><!--container-->
    </div><!--main-->
    <footer>
      <p>Blog Design by <a href="#">Kuazhu</a> <a href="#">豫ICP备11002373号-1</a>.</p>
    </footer>
    <script src="lib/jquery/jquery-1.12.4.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>