{% extends './layout.html' %}
{% block title %}飞猪飞的粉丝{% endblock %}
{% block content1 %} <li ><a href="/admin/userlist">用户列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content3 %}<li ><a href="/category">分类列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content4 %}<li class="active"><a href="/article">文章列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content2 %}
	{% if categories %}
  <h2 class="sub-header">新增文章</h2>
  <form class="form-horizontal" action="/article/add" method="post">
    {% else %}
    <h2 class="sub-header">编辑文章</h2>
  <form class="form-horizontal" action="/article/edit" method="post">
    {% endif %}
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">分类名称</label>
    <div class="col-sm-4">
      {% if categories %}
      <select class="form-control" name="category">
        {% for category in categories %}
        <option value="{{ category._id.toString() }}">{{ category.name }}</option>
        {% endfor %}
      </select>
      {% else %}
      <select class="form-control" name="category">
        {% for cate in cates %}
        {% if cate._id.toString() == article.category.toString() %}
        <option value="{{ cate._id.toString() }}" selected="true">{{ cate.name }}</option>
        {% else %}
        <option value="{{ cate._id.toString() }}">{{ cate.name }}</option>
        {% endif %}
        {% endfor %}
      </select>
      {% endif %}
    </div>
  </div>
  <div class="form-group">
    <label for="order" class="col-sm-2 control-label">标题</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="title" id="title" placeholder="请输入标题" value="{{ article.title }}">
    </div>
    <p class="text-danger err"></p>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">简介</label>
    <div class="col-sm-4">
      <textarea name="intro" cols="40" rows="6">{{ article.intro }}</textarea>
    </div>
    <p class="text-danger err"></p>
  </div>  
   <div class="form-group">
    <label class="col-sm-2 control-label">内容</label>
    <div class="col-sm-6">
      <textarea name="content" id="editor">{{ article.content }}</textarea>
    </div>
    <p class="text-danger err"></p>
  </div>   
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <input type="hidden" name="id" value="{{ article._id.toString() }}">
      <button type="submit" class="btn btn-primary" id="btn-sub">提交</button>
    </div>
  </div>
</form>
{% endblock %}
{% block end %}
<script src="/lib/ckeditor5/ckeditor.js"></script>
<script src="/lib/ckeditor5/translations/zh-cn.js"></script>
<script type="text/javascript" src="/js/article.js"></script>
{% endblock %}