{% extends './layout.html' %}
{% block title %}飞猪飞的粉丝{% endblock %}
{% block content1 %} <li ><a href="/admin/userlist">用户列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content3 %}<li class="active"><a href="/category">分类列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content4 %} <li ><a href="/article">文章列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content2 %}
	<h2 class="sub-header">粉丝分类列表</h2>
	<a href="/category/category_add" class="btn btn-primary active" role="button">新增分类</a>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>用户名</th>
                  <th>sort</th>
                  <th>编辑</th>
                </tr>
              </thead>
              {% for user in categoryList %}
              <tbody>
                <tr>
                  <td>{{ user._id.toString() }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.order }}</td>
                  <td>
			  		<a href="/category/edit/{{ user._id.toString() }}">编辑</a>
			  		<a href="/category/delete/{{ user._id.toString() }}">删除</a>
  				  </td>
                </tr>
              </tbody>
             {% endfor %}
            </table>
            {% if categoryList %}
            <nav aria-label="Page navigation">
				<ul class="pagination">
					<li>
					  <a href="/category?page={{ page-1 }}" aria-label="Previous">
					    <span aria-hidden="true">&laquo;</span>
					  </a>

					</li>
					{% for i in list %}
					{% if page == i %}
					<li><a href="javascript:;" class="btn btn-primary active">{{ i }}</a></li>
					{% else %}
					<li><a href="/category?page={{ i }}" >{{ i }}</a></li>
					{% endif %}
					{% endfor %}
					<li>
					  <a href="/category?page={{ page+1 }}" aria-label="Next">
					    <span aria-hidden="true">&raquo;</span>
					  </a>
					</li>
				</ul>
			</nav>
			{% endif %}
          </div>
{% endblock %}