{% extends './layout.html' %}
{% block title %}飞猪飞的粉丝{% endblock %}
{% block content1 %} <li ><a href="/admin/userlist">用户列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content3 %}<li ><a href="/category">分类列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content4 %} <li class="active"><a href="/article">文章列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content5 %} <li><a href="/comment">评论列表<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content6 %} <li><a href="/resource">资源管理<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content7 %} <li><a href="/admin/site">站点管理<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content8 %} <li><a href="/admin/password">修改密码<span class="sr-only">(current)</span></a></li>{% endblock %}
{% block content2 %}
	<h2 class="sub-header">{{ url }}</h2>
	<div class="alert alert-danger" role="alert">{{ message }}</div>
	<a href="/article">点击返回</a>
{% endblock %}