@rem:32;
.rem(@attr,@px1){
	@{attr}:unit(@px1/@rem,rem);
}
.rem(@attr,@px1,@px2){
	@{attr}:unit(@px1/@rem,rem) unit(@px2/@rem, rem);
}
.rem(@attr,@px1,@px2,@px3){
	@{attr}:unit(@px1/@rem,rem) unit(@px2/@rem, rem) unit(@px3/@rem, rem);
}
.rem(@attr,@px1,@px2,@px3,@px4){
	@{attr}:unit(@px1/@rem,rem) unit(@px2/@rem, rem) unit(@px3/@rem, rem) unit(@px4/@rem, rem);
}
.container{
	.rem(width,320);

}
.chart-header{
	.rem(height,45);
	.rem(font-size,20);
	.rem(line-height,45);
	border-bottom:1px #dfdfdf solid;
	.header-back{
		.rem(width,45);
		text-align: center;
	}
	.header-tittle{
		display: inline-block;
		.rem(width,200);
		text-align: center;
		font-weight: bold;
	}
	
}

.chart-top{
	.rem(font-size,14);
	.rem(line-height,45);
	font-weight: bold;
	.message li{
		.rem(height,45);
		border-bottom:1px #dfdfdf solid;
		color:#878787;
	}
	.top-mark{
		.rem(width,20);
		text-align: center;
		.rem(margin-left,10);
	}
	.top-edit{
		float: right;
		.rem(margin-right,10);
		color:#dc2d3a;
	}
	.top-check{
		.rem(font-size,18);
		.rem(width,40);
		text-align: center;
		color:#db292f;
	}
	.top-jd{
		.rem(font-size,17);
	}
	.top-shop{
		.rem(margin-left,10);
		color:#000;
		.rem(font-size,17);
	}
	.top-text{
		.rem(margin-left,10);
		font-weight:700;
		.rem(font-size,12 );
	}
	.top-exclamation{
		.rem(font-size,12);
	}
}
li{
	list-style: none;
}
.chart-content .container{
	.rem(height,152);
	float: left;
	border-bottom:1px #dfdfdf solid;
	.content-goodBox{
		position: relative;
		display: inline-block;
		margin:10px;
		.rem(width,120);
		.rem(font-size,14);
		.content-check{
			position: absolute;
			top:50%;
			.rem(font-size,18);
			color:#db292f;

		}
		.content-good{
			.rem(margin-left,30);
			.rem(height,75);
		}
	}
	.content-product{
		float: right;
		margin:12px;
		.rem(font-size,14);
		.content-name{
			.rem(width,153);
			.rem(height,60);
			.rem(margin-bottom,10);
			.content-introduce{
				font-weight: bold;
				.rem(margin-bottom,10);
			}
			.content-heavy{
				color:#878787;
			}
		}
		.content-price{
			display: inline-block;
			.rem(width,40);
			.rem(height,30);
			.rem(font-size,10);
			.rem(line-height,30);
			.rem(margin-right,20);
			color:#db292f;
			font-weight: bold;
		}
		.content-min,
		.content-num,
		.content-plus{
			display: inline-block;
			.rem(width,25);
			.rem(height,25);
			.rem(line-height,25);
			.rem(font-size,25);
			text-align: center;
			color:#878787;
			background: #f5f5f5;
		}
		.content-footer{
			float: right;
			.rem(margin-top,5);
			.rem(font-size,12);
			.rem(margin-right,10);
			color:#878787;
		}
	}
}
.chart-foot .container{
	position: fixed;
	bottom:0;
	.rem(height,70);
	border:1px #ccc solid;
}